* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #232323;
}

main {
    width: 80%;
    min-height: 5rem;
    margin: 5rem auto;
    padding: 5rem;
    border-radius: 0.3rem;
    background-color: #e9e9e9;
}

main form {
    display: flex;
    gap: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

input, button {
    margin: 0.5rem 0 2rem;
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

ul {
    border: solid 0.1rem #c9c9c9;
    border-bottom: none;
}

li {
    padding: 0.2rem 0.5rem;
    list-style-type: none;
    border-bottom: solid 0.1rem #c9c9c9;
    transition: 0.3s;
}

li:hover {
    background-color: #f9f9f9;
    border-radius: 0.3rem;
    cursor: pointer;
}